﻿/** Styles for the theme: Base */

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiCheckbox-template, tchmi-checkbox-template {
    background-color: lightgrey;
     box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.02), inset 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
}

/* class TcHmi_Controls_Beckhoff_TcHmiCheckbox-active will be set/unset in the control */
.TcHmi_Controls_Beckhoff_TcHmiCheckbox.TcHmi_Controls_Beckhoff_TcHmiCheckbox-active .TcHmi_Controls_Beckhoff_TcHmiCheckbox-template,
.tchmi-checkbox.tchmi-checkbox-active .tchmi-checkbox-template {
    background: ForestGreen;
}